:root {
  /*size*/
  --size8: 0.5rem;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size20: 1.25rem;
  --size22: 1.375rem;
  --size24: 1.5em;
  --size26: 1.625rem;
  --size28: 1.75rem;
  --size30: 1.875rem;
  --size52: 3.25rem;
  --size50: 3.125rem;
  --size60: 3.75rem;
  --size63: 3.9375rem;

  /*Paleta de Colores*/
  --linear_bg: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin_orage: #f7931a;
  --Soft_Orange: #ffe9d4;
  --secundary_blue: #1a9af7;
  --soft_blue: #e7f5ff;
  --warm_black: #201e1c;
  --Warm_Black_1: #282623;
  --just_while: #ffffff;
  --while_buton: #faf8f7;
  --orange_primary: #ff9536;
  --gray: #757575;

  /*tipografia*/
  --h1-mobile: normal 700 var(--size24) / var(--size26) "DM Sans", sans-serif;
  
  --h2-Mobile: normal 500 var(--size14) / var(--size18) "DM Sans", sans-serif;
  --h3-Mobile: normal 700 var(--size18) / var(--size24) "DM Sans", sans-serif;
  --text-Mobile: normal 500 var(--size16) / var(--size20) "Inter", sans-serif;
  --text-Mobile2: normal 400 var(--size14) / var(--size16) "Inter", sans-serif;
  --inter-large: normal var(--size52) / var(--size63) "Inter", sans-serif;
  --inter-small: normal var(--size12) / var(--size16) "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}
html {
  font-family: "DM Sans", sans-serif;
}

/* Posicionamiento
Modelo de caja
Tipografía y texto
Visual
Miscelánea */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 20rem;
  height: 20.875rem;
  text-align: center;
  background: var(--linear_bg);
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header img {
  width: 9.375rem;
  height: 1.5rem;
  margin-top: var(--size60);
  align-self: center;
}
.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 288px;
  margin-top: 2.5rem;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font: var(--h1-mobile);
  color: var(--just_while);
  margin-bottom: 24px;
}
.header__title-container p {
  font: var(--h2-Mobile);
  color: var(--Soft_Orange);
}

.header__title-container .header__button {
  position: absolute;
  top: 270px;
  left: calc(50% - 7.375rem);
  display: block;
  width: 14.3125rem;
  height: 3rem;
  margin-top: 2.1875rem;
  padding: var(--size12) var(--size16);
  border: none;
  text-align: center;
  text-decoration: none;
  font: var(--h2-Mobile);
  background-color: var(--while_buton);
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  color: var(--warm_black);
}
.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../asset/icon/Vector.svg");
  cursor: pointer;
}
main {
  width: 100%;
  height: auto;
  background-color: var(--while_buton);
}
.exchange__container {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
  text-align: center;
}
.exchange__backgroundImage {
  width: 12.5rem;
  height: 12.5rem;
  margin: 0 auto;
  margin-bottom: 3.125rem;
  background-image: url("../asset/img/Bitcoin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.exchange__container__text {
  width: 90%;
  min-width: 18rem;
  max-width: 56.25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.exchange__container__text h2 {
  font: var(--h1-mobile);
  color: var(--warm_black);
  margin-bottom: 2rem;
}
.exchange__container__text p {
  font: var(--h2-Mobile);
  font-weight: 500;
  color: var(--gray);
}

.exchange__seccion--table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}



*/
.exchange__table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 12.3125rem;
  margin: 0 auto;
}




.exchange__table__title {
  align-self: start;
  font: var(--h3-Mobile);
  color: var(--orange_primary);
}
.exchange__table__title--blue {
  color: #1a9af7;
}
td {
  width: 6.3125rem;
  height: 2.4375rem;
  background-color: var(--just_while);
  border: none;
  font: var(--text-Mobile);
  color: #b5b0ac;
}
table {
  margin-top: 0.75rem;
  border-radius: 2px;
}
.arrow__right {
  position: relative;
  top: -84px;
  right: -225px;
  width: 0.75rem;
  height: 0.4631rem;
  background-image: url(../asset/icon/Vector.svg);
  transform: rotate(270deg);
}
.arrow__left {
  position: relative;
  top: -84px;
  right: 24px;
  width: 0.75rem;
  height: 0.4631rem;
  background-image: url(../asset/icon/Vector.svg);
  transform: rotate(90deg);
}

.table__right {
  font: var(--text-Mobile2);
}
.table--radius__top__right {
  border-top-right-radius: 0.3125rem;
}
.table--radius__button__right {
  border-bottom-right-radius: 0.3125rem;
}
table .table__top_let {
  border-top-left-radius: 0.125rem;
}

.table__right span {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("../asset/icon/trending-down\ 1.svg");
}
.table__right .arrow_up {
  background-image: url("../asset/icon/trending-up\ 1.svg"); /* Down arrow for even */
}

.container--actualization {
  margin: var(--size16);
}
.actualization {
  width: 10.8125rem;
  height: 1.9375rem;
  padding: var(--size8) var(--size8);
  background-color: var(--Soft_Orange);
  font: var(--inter-small);
}
.actualization--blue {
  background-color: #e7f5ff;
}

/*section producto*/
.producto__section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--warm_black);
  padding-bottom: 24px;
  
}
.producto__icono__patata {
  position: absolute;
  top: -12px;
  width: 40.57px;
  height: 24.01px;
}
.producto__icono {
  width: 24px;
  height: 24px;
}
.producto__text__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 288px;
  height: 94px;
  margin-top: 2rem;
}
.producto__h2 {
  font: var(--h1-mobile);
  color: var(--just_while);
  text-align: center;
}
.producto__text {
  font: var(--h2-Mobile);
  color: #808080;
}
.producto__container__valor {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width:100%;
  justify-content: center;
  max-width: 750px;
  margin-top: 20px;
  background-color: var(--warm_black);
  padding-left: 15px;
  padding-right: 15px;
  
}
.producto__article {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width:345px ;
  height:134px ;
  background-color: var(--Warm_Black_1);
 
  padding: 16px;
  gap: 8px;
  border-radius: 5px;

}

.producto__article h3 {
  color: var(--just_while);
  font: --h3-Mobile;
  line-height: 18px;
}
.producto__article p {
  color: #808080;
  font: var(--h2-Mobile);
}
.conocelo__contaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conocelo {
  width: 100%;
  height: auto;
}
.conocelo__image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  width: 100%;
  height: 387px;
  background-image: url("../asset/img/bitcoinbaby\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--just_while);
}
.conocelo__title {
  float: var(--h1-mobile);
}

.plan__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.plan__title {
  font: var(--h1-mobile);
  color: var(--warm_black);
  text-align: center;
  margin-bottom: 32px;
}
.plan__parrafo {
  font: var(--h2-Mobile);
  color: var(--gray);
  text-align: center;
}
.plan__container__text {
  margin-bottom: 50px;
}
/* Posicionamiento
Modelo de caja
Tipografía y texto
Visual
Miscelánea */

/*seccion card promociones*/
.main-planes-container{
width: 100%;
min-width: 320px;
padding-bottom: 70px;
text-align: center;
}

.plans--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
 
}
.plans--title h2{
padding-top: 50px;
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--warm_black);

}
.plans--title p{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}


.plans-container--card{
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just_while);
  border-radius: 15px ;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}


/*pregutas*/
.preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px 10px;
}
.preguntas__titulo {
  font: var(--h1-mobile);
  text-align: center;
  margin-bottom: 15px;
}
details {
  font: var(--h2-Mobile);
  color: var(--warm_black);
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}
summary::after {
  content: url(/asset/icon/mdi_keyboard_arrow_close.svg);
  color: var(--gray);
  margin-left: 15px;
}
details[open] summary::after {
  content: url(/asset/icon/mdi_keyboard_arrow_open.svg);
}

details p {
  margin-top: 20px;
  color: var(--gray);
  line-height: 20px;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 0 50px;
  background-color: var(--bitcoin_orage);
  border: none;
}
footer figure{
 width: 75px;
 height: 50px;
 background-image: url(/asset/img/Logo--footer.png);
 background-repeat: no-repeat;
background-position: top;
background-size: contain;
  
}
footer ol{
  display: flex;
  flex-direction: column;
  gap:10px;
  list-style: none;
  color: var(--just_while);
  font:var(--h2-Mobile);
}


/*
@media (min-width: 768px) {
  
  header{
    height:28.125rem;
  }
  .header__title-container h1{
   
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 42px;
    width: 464px;
  }
  .header__title-container{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header__title-container .header__button{
    top: 390px;
  }
  .header__title-container p{
    font-size: var(--size20);
    font-weight: 500;
    line-height: 24px;
    width: 23.875rem;
    text-align: center;
  }
  .exchange__container__text{
    max-width: 29.125rem;
  }

  .exchange__container__text h2{
    font-size: 2.5rem;
   line-height: 2.625rem;

  }
  .exchange__container__text p{
    font-size: var(--size20);
    line-height: 24px;
  }
  .exchange__seccion--table{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .exchange__table{
    margin: 15px;
  }
  .arrow__right,.arrow__left{
    display: none;
  }
  .producto__article{
    max-width: 21.5625rem;
  }
  .producto__container__valor{
    width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .conocelo__image{
    justify-content: center;
    background-image: url(/asset/img/bitcoinbaby\ 2.png);
    width: 100%;
    height: 299px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
  }
  .conocelo__image h2{
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    padding-top: 0px;
  }
  .plan__title{
    font-size: 40px;
    line-height: 42px;
    max-width: 466px;
    
  }
  .plan__parrafo{
    font-size: var(--size20);
  }
  .preguntas__titulo{
    
    font-size:40px ;
    font-weight: 700;
    line-height: 42px;
  }

  .preguntas__container{
    width: 466px;
    font-family: 20px;
    font-weight: 500px;
    line-height: 24px;
  }

  footer ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: s;
    height:24px ;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto ;

  }
  footer figure{
    width: 166px;
    height: 111.2px;
  }

}
*/